= render "assurance_view"
= render "food_view"
#menusassurances{ :style => "display: none;" }
  = "#{menusassurances_url}?id=#{@menu.id}"
#menusfoods{ :style => "display: none;" }
  = "#{menusfoods_url}?id=#{@menu.id}"

%p#notice= notice
%h4.menu-header.col-md-9.col-md-offset-3
  = @menu.name
.col-md-3.menu-sidebar

.col-md-9#food-list
