%p#notice= notice

.col-md-3.menu-sidebar
  - @assurances.each do |assurance|
    .option
      = assurance.name.titleize
      .glyphicon.glyphicon-unchecked

.col-md-9
  %h3
    = @menu.name

  - @menu.foods.each do |food|
    .food-blurb
      %h1
        = food.name
      .price
        = food.price
      - food.assurances.sort_by { |a| a.name }.each do |assurance|
        .assurance
          = assurance.name.titleize


