!!!
%html
  %head
    %title Allergize
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    #searchapi{ :style => "display: none;" }
      = "#{search_url}?name=%QUERY"
    #menushow{ :style => "display: none;" }
      -# Hacky way of making show url from index url for menus (via js append)
      = organizations_url

  %body
    .container
      %header
        =image_tag('logo 1.png')
      %nav.navbar.navbar-inverse{role: "navigation"}
        %ul.nav.navbar-nav
          %li
            %a{:href=>root_url}
              %span.glyphicon.glyphicon-home
              Home
              
          %li.active
            %a Current Thing
          %li
            %a Organizations
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to "Account", edit_user_registration_path
            %li
              = link_to "Sign Out", destroy_user_session_path, :method => :delete
          - else
            %li
              = link_to "Sign In", new_user_session_path
            %li
              = link_to "Sign Up", new_user_registration_path
          %li
            %form.navbar-form.navbar-right{role: "search"}
              .form-group
                %input#orgbar.twitter-typeahead.tt-query.form-control{placeholder: "Search", type: "text"}/
      = yield
