!!!
%html
  %head
    %title Allergize
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{href: "http://faviconist.com/icons/e50ad6506803d22069cc9b3424023c5f/favicon.ico", rel: "shortcut icon"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = render "shared/internal_api"
  %body.escher
    .container.landing-container
      = yield
